In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
# Reading the Dataset
dataset = pd.read_csv('Airmean_Chennai.csv')
dataset=pd.get_dummies(dataset,drop_first=True)
dataset.head(5)

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,...,Date_2020-06-22,Date_2020-06-23,Date_2020-06-24,Date_2020-06-25,Date_2020-06-26,Date_2020-06-27,Date_2020-06-28,Date_2020-06-29,Date_2020-06-30,Date_2020-07-01
0,77.394417,149.388739,16.30,15.39,22.68,4.59,1.17,9.20,11.35,0.170000,...,0,0,0,0,0,0,0,0,0,0
1,77.394417,149.388739,16.49,13.42,23.09,7.83,1.23,8.61,9.16,0.130000,...,0,0,0,0,0,0,0,0,0,0
2,77.394417,149.388739,9.72,19.56,9.99,4.63,0.77,20.56,13.45,0.030000,...,0,0,0,0,0,0,0,0,0,0
3,77.394417,149.388739,9.60,16.20,11.71,5.23,1.00,20.56,10.33,2.120333,...,0,0,0,0,0,0,0,0,0,0
4,77.394417,149.388739,9.16,16.30,12.94,5.50,0.90,16.60,9.36,2.120333,...,0,0,0,0,0,0,0,0,0,0

In [2]:
indep=dataset[['PM2.5', 'PM10', 'NO','NO2', 'NOx', 'NH3', 'CO', 'SO2', 'O3']]
dep=dataset['AQI']

In [3]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [4]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [5]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)#y=W*x1+b0 for this equation we got value for b1 and bo

LinearRegression()

In [6]:
# Viewing the b1 and bo value
weight=regressor.coef_
print("Weight of the model={}".format(weight))
bais=regressor.intercept_
print("Intercept of the model={}".format(bais))

Weight of the model=[31.22818271  2.16691435 -3.67117382  3.00747467 -1.92783592 -2.38499662
 17.1415011   0.16954308  5.90378792]
Intercept of the model=116.6895151335681

In [7]:
y_pred=regressor.predict(X_test)
from sklearn.metrics import mean_squared_error
rmse=mean_squared_error(y_test, y_pred, squared=False)
rmse

30.473098628830975